#app-mount .drawerSizingWrapper__30274{
  position: absolute !important;
}

#app-mount .header__55964{
  padding: 12px !important;
}

#app-mount .layer_ec16dd [role="dialog"][aria-label="Inbox"]{
  backdrop-filter: blur(8px);
}

.avatarWrapper_b2ca13 {
  min-width: 95px;
}

.contentWrapper_af5dbb {
  backdrop-filter: blur(30px);
}

.layer_cd0de5 {
  backdrop-filter: blur(30px);
}
