#app-mount .drawerSizingWrapper__30274{
  position: absolute !important;
}

#app-mount .header__55964{
  padding: 12px !important;
}

#app-mount .layer_ec16dd [role="dialog"][aria-label="Inbox"]{
  backdrop-filter: blur(8px);
}

.avatarWrapper_b2ca13 {
  min-width: 95px;
}

.contentWrapper_af5dbb {
  backdrop-filter: blur(30px);
}

div[aria-label="Inbox"] {
  backdrop-filter: blur(30px);
}

.footer_aa1bff, .footer_f8ec41, .footer_d71945 {
  background: var(--bg-overlay-app-frame, black) !important;
}

.itemsContainer_fea3ef {
    background: var(--middle-brightness, black) !important;
}

.container_d746e5 {
  background: rgb(0, 0, 0, var(--middle-brightness));
}

.container_e462a4 {
  background: none
}

.headerBar_accde0 {
  backdrop-filter: blur(25px);
}

div[role="button"][aria-label="Dismiss"] {
  margin-right: 7.5em;
}
